/* Textausrichtung */
*[rendition~="#l"] {
  display: block;
  text-align: left;
}

*[rendition~="#c"] {
  display: block;
  text-align: center;
}

*[rendition~="#r"] {
  display: block;
  text-align: right;
}

/* Unterstreichungen */
*[rendition~="#u"] {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

*[rendition~="#uu"] {
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-skip-ink: none;
}

*[rendition~="#ud"] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
}

*[rendition~="#uda"] {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-skip-ink: none;
}

*[rendition~="#o"] {
  text-decoration-line: overline;
}

/* Schriftstil */
*[rendition~="#i"] {
  font-style: italic;
}

*[rendition~="#g"] {
  letter-spacing: 0.3em;
}

/* Textrahmen */
*[rendition~="#rectangle"] {
  border: 1px solid;
  padding: 3px;
}

*[rendition~="#circle"] {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
}

/* hoch- oder tiefgestellter Text */
*[rendition~="#sup"] {
  vertical-align: super;
  font-size: 0.7em;
}

*[rendition~="#sub"] {
  vertical-align: sub;
  font-size: medium;
}

/* Stempel und Vordrucke */
tei-stamp {
  font-variant-caps: small-caps;
  font-size: 0.9rem;
  font-variant-numeric: oldstyle-nums;
  background-color: hsl(197,51%,93%);
  border-radius: 5px;
}

tei-stamp tei-seg[hand] {
  background-color: white;
}

/* Salute und Unterschrift*/
/*tei-opener tei-salute {
  
}*/

tei-closer tei-salute {
  margin: 0 !important;
  display: inline;
}

tei-signed {
  margin: 0 !important;
  display: inline;
}

/* Links */
a {
  text-decoration: none;
}

/* Hinzufügungen und Streichungen */
tei-del {
  text-decoration: line-through;
}
 
tei-add {
  color: #cd5c5c;
}

/* Seitenstruktur */
hr {
  margin-top: 0.4em;
}

tei-div[type="letter"] {
  display: inline-block;
}